<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.sikorka.android">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.CAMERA" />

  <application
      android:name=".SikorkaApplication"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <service
        android:name=".SikorkaService"
        android:enabled="true"
        android:exported="false" />

    <activity android:name=".ui.accounts.AccountActivity" />
    <activity android:name=".ui.accounts.account_export.AccountExportActivity" />
    <activity
        android:name=".ui.splash.SplashActivity"
        android:noHistory="true"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.accounts.account_import.AccountImportActivity" />
    <activity
        android:name=".ui.wizard.WizardActivity"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".ui.main.MainActivity"
        android:label="@string/main_screen__title"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".ui.contracts.DeployContractActivity" />
    <activity android:name=".ui.contracts.interact.ContractInteractActivity" />
    <activity
        android:name=".ui.settings.SettingsActivity"
        android:label="@string/title_activity_settings" />
    <activity android:name=".ui.detector.bluetooth.FindBtDetectorActivity" />
    <activity android:name=".ui.contracts.deploydetectorcontract.DeployDetectorActivity" />
    <activity android:name=".ui.detector.select.SelectDetectorTypeActivity" />
    <activity android:name=".ui.contracts.pending.PendingContractsActivity" />
    <activity android:name=".ui.detector.qr.QrScannerActivity" />
    <activity android:name=".ui.detector.userselect.UserSelectDetectorTypeActivity" />
    <activity android:name=".ui.settings.peermanager.PeerManagerActivity"></activity>
  </application>

</manifest>